// out: "../style.css"

@import "../vars.less";
@import "../mixins.less";


.academy-logo {
  display: flex;
  width: 100%;
  min-height: 34px;
  align-items: center;
  padding-bottom: 22px;
  margin-top: 43px;
}

.academy-logo__name-link {
  text-decoration: none;
  display: block;
  margin-right: auto;
}

.academy-logo__name-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @primary-color-text;
}

.academy-logo__capital {
  text-transform: uppercase;
}

.academy-logo__img {
  display: block;
}

@media(min-width: @tablet) {
  .academy-logo {
    padding-bottom: 0;
    margin-top: 0;
    width: 163px;
    margin-left: 129px;
  }
}

@media(min-width: @desktop) {
  .academy-logo {
    margin-left: 384px;
  }
}
