.academy-logo {
  display: flex;
  width: 100%;
  min-height: 34px;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}

.academy-logo__name-link {
  text-decoration: none;
  display: block;
  margin-right: auto;
}


.academy-logo__name-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @primary-color-text;
}

.academy-logo__capital {
  text-transform: uppercase;
}

.academy-logo__img {
  display: block;
}

.academy-logo:hover .academy-logo__img {
  fill: #68B738;
}

.academy-logo:active .academy-logo__img{
  fill: rgba(104, 183, 56, 0.3);
}

.academy-logo:active .academy-logo__name-text{
  color: rgba(104, 183, 56, 0.3);
}

@media(min-width: @tablet) {
  .academy-logo {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    width: 163px;
    margin-left: 12.9rem;
  }
}

@media(min-width: @desktop) {
  .academy-logo {
    margin-left: 38.4rem;
  }
}
