// out: "../style.css"

@import "../vars.less";
@import "../mixins.less";

.additional-products {
  .wrapper();
}

.additional-products__caption {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @secondary-color-text;
}

.additional-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}

.additional-products__item {
  width: 100%;
}

.additional-products__item-title {
  margin: 0;
  .additional-products-title();
  color: @fourth-color-text;
}

.additional-products__options-list {
  margin: 0;
  display: flex;
}

.additional-products__options-term {
  .additional-products-text();
}

.additional-products__options-desc {
  .additional-products-text();
}

.additional-products__link {
  .button-order();
}

@media(min-width: @tablet) {
  .additional-products {
    .wrapper-tablet();
  }
}

@media(min-width: @desktop) {
  .additional-products {
    .wrapper-desktop();
  }
}
