// out: "../style.css"

@import "vars";
@import "mixins";

.catalog__wrapper {
  .wrapper;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item-title {
  .slogan();
  color: #222222;
}

.catalog__item-title {
  margin: 0;
}

.catalog__options-list {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @main-color-text;
}

.catalog__item-promo-img {
  display: block;
}

.catalog__item-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @catalog-link-color;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #68B738;
}

