// out: "../style.css"

@import "../vars.less";
@import "../mixins.less";

.catalog__wrapper {
  .wrapper();
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}

.catalog__item {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  padding-top: 11px;
  padding-bottom: 14px;
}

.catalog__item-promo {
  width: 140px;
  text-align: center;
}

.catalog__item-promo-img {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.catalog__item-description {
  width: 140px;
}

.catalog__item-title {
  margin: 0;
  .slogan();
  color: @fourth-color-text;
}

.catalog__options-list {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @primary-color-text;
  display: flex;
  flex-direction: column;
}

.catalog__options-item {
  display: flex;
  justify-content: space-between;
}

.catalog__item-link {
  .button-order();
}

@media(min-width: @tablet) {
  .catalog__wrapper {
    .wrapper-tablet();
  }
  .catalog__list {
    grid-template-columns: repeat(auto-fill, 324px);
  }
  .catalog__item-link {
    .button-order-tablet();
  }
}

@media(min-width: @desktop) {
  .page-header__catalog {
    &::before {
      display: none;
    }
  }
  .nav-item__link-catalog{
    color: @secondary-color-text;
  }
  .nav-item__link--active-catalog {
    &::before {
      background-color: @nav-link-active;
    }
  }
  .catalog__wrapper {
    .wrapper-desktop();
  }
  .catalog__list {
    grid-template-columns: repeat(auto-fill, 245px);
    column-gap: 80px;
  }
  .catalog__item-link {
    .button-order-tablet();
  }
}
