// out: "../style.css"

@import "vars";
@import "mixins";

.catalog__wrapper {
  .wrapper();
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}

.catalog__item {
  display: flex;
}

.catalog__item-promo {
  width: 140px;
  text-align: center;
}

.catalog__item-promo-img {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.catalog__item-description {
  width: 140px;
}

.catalog__item-title {
  margin: 0;
  .slogan();
}

.catalog__options-list {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @main-color-text;
}

.catalog__item-link {
  .button-order();
}
