// out: "../style.css"

@import "mixins";
@import "vars";

.diet__wrapper {
  .wrapper;
}

.diet__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.diet__item {
  background-color: @diet-bg-color;
  margin-bottom: 20px;
}

.diet__item-title {
  margin: 0;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.diet__item-description {
  margin: 0;
  .main-text;
}

.diet__link {
  display: block;
  text-decoration: none;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
