// out: "../style.css"

@import "../vars.less";
@import "../mixins.less";

.diet__wrapper {
  .wrapper();
}

.diet__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.diet__item {
  background-color: @diet-bg-color;
  padding-top: 30px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 33px;
}

.diet__item:not(:nth-child(2n)) {
  margin-bottom: 20px;
}

.diet__item-title {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-bottom: 30px;
  padding-left: 75px;
  color: @secondary-color-text;
}

.diet__item-slim {
  background-image: url("@{img-address}/diet-slim.svg");
  background-repeat: no-repeat;
  background-position: 22px 21px;
}

.diet__item-mass {
  background-image: url("@{img-address}/diet-mass.svg");
  background-repeat: no-repeat;
  background-position: 13px 24px;
}

.diet__item-description {
  margin: 0;
  .main-text();
  padding-bottom: 23px;
  border-bottom: 1px solid #D9D9D9;
}

.diet__link {
  position: relative;
  display: block;
  width: 132px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @secondary-color-text;
  padding-top: 19px;
  &::after {
    content: "";
    width: 24px;
    height: 12px;
    position: absolute;
    background-image: url("@{img-address}/diet-link-arrow.svg");
    right: 7px;
    bottom: 2px;
  }
}

@media (min-width: @tablet) {
  .diet__wrapper {
    .wrapper-tablet();
  }
  .diet__item {
    padding-top: 77px;
    padding-right: 62px;
    padding-bottom: 53px;
    padding-left: 52px;
  }
  .diet__item-title {
    margin-left: 0;
    padding-bottom: 24px;
    padding-left: 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
  }
  .diet__item-description {
    width: 340px;
    .main-text-tablet();
    padding-bottom: 22px;
  }
  .diet__item:not(:nth-child(2n)) {
    margin-bottom: 30px;
  }
  .diet__link {
    width: 165px;
    .diet-link-tablet();
    border-top: 0;
    &::after {
      bottom: 8px;
    }
  }
  .diet__item-slim {
    background-image: url("@{img-address}/diet-tablet-slim.svg");
    background-repeat: no-repeat;
    background-position: 90% 50%;
  }

  .diet__item-mass {
    background-image: url("@{img-address}/diet-tablet-mass.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }
}

@media (min-width: @desktop) {
  .diet__wrapper {
    .wrapper-desktop();
  }
  .diet__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 570px);
    column-gap: 80px;
  }
  .diet__item {
    padding-top: 77px;
    padding-right: 51px;
    padding-bottom: 59px;
    padding-left: 52px;
  }

  .diet__item:not(:nth-child(2n)) {
    margin-bottom: 0;
  }
  .diet__item-title {
    text-align: center;
    padding-bottom: 73px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
  }
  .diet__item-title-slim {
    padding-left: 62px;
  }
  .diet__item-title-mass {
    padding-left: 47px;
  }
  .diet__item-description {
    width: 467px;
    .main-text-tablet();
    padding-bottom: 23px;
  }
  .diet__item-slim {
    background-image: url("@{img-address}/diet-desktop-slim.svg");
    background-repeat: no-repeat;
    background-position: 52px 41px;
  }

  .diet__item-mass {
    background-image: url("@{img-address}/diet-desktop-mass.svg");
    background-repeat: no-repeat;
    background-position: 33px 47px;
  }
  .diet__link {
    width: 168px;
  }
}
