// out: "../style.css"

@import "../vars.less";
@import "../mixins.less";

.form__wrapper {
  .wrapper();
}

.form__caption {
  margin: 0;
  padding-top: 27px;
  .h1-captions();
  color: @secondary-color-text;
}

.form__slogan {
  margin: 0;
  padding-top: 37px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @secondary-color-text;
}

.form__title-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
  &::before {
    content: "";
    width: 35%;
    height: 55px;
    position: absolute;
    background-color: #ffffff;
    left: 0;
  }
  &::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68B738;
    position: absolute;
    top: 50%;
    z-index: -1;
  }
}

.form__title {
  position: relative;
  margin: 0;
  .form-title();
  background-color: #ffffff;
  padding-right: 23px;
}

.form__original {
  padding-top: 39px;
  border-bottom: 1px solid #D9D9D9;
}

.form__wrapper-original {
  display: grid;
}

.form__input {
  .form-input();
  .form-input-text();
}

.form__input:hover {
  .form-input-hover();
}

.form__input:focus {
  .form-input-focus();
}

.form__options {
  padding-bottom: 25px;
}

.form__options-list {
  margin: 0;
  padding: 0;
  list-style: none;
 }

 .form__options-item:not(:last-child) {
  margin-bottom: 13px;
 }

 .form__options-item {
  .form-item();
 }

.form__label {
  .form-label-text();
}

.form__input-name {
  width: 228px;
  height: inherit;
}

.form__input-weight {
  width: 204px;
  height: inherit;
}

.form__input-age {
  width: 172px;
  height: inherit;
}

.form__tasks {
  padding-top: 25px;
  padding-bottom: 20px;
}

.form__tasks-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__tasks-item:not(:last-child) {
  margin-bottom: 20px;
}

.form__tasks-label {
  padding-left: 46px;
  .form-label-text();
  color: @fourth-color-text;
}

.form__tasks-input {
  position: absolute;
  margin-left: -37px;
  appearance: none;
}

.form__tasks-check {
  position: absolute;
  width: 31px;
  height: 31px;
  display: block;
  margin-top: -6px;
  background-image: url("@{img-address}form-radio.svg");
  background-repeat: no-repeat;
}

.form__tasks-input:checked + .form__tasks-check {
  background-image: url("@{img-address}form-radio-checked.svg");
}

.form__tasks-input:checked:hover + .form__tasks-check {
  background-image: url("@{img-address}form-radio-checked-hover.svg");
  margin-top: -6px;
}

.form__tasks-input:hover + .form__tasks-check {
  background-image: url("@{img-address}form-radio-hover.svg");
  margin-top: -6px;
}

.form__contacts {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}
.form__contacts-title {
  width: 187px;
  margin-right: 75px;
}

.form__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__contacts-item {
  .form-item();
 }

 .form__contacts-item:not(:last-child) {
  margin-bottom: 13px;
 }

.form__input-email {
  width: 219px;
  height: inherit;
}

.form__input-phone {
  width: 204px;
  height: inherit;
}

.form__comment-title {
  width: 121px;
  margin-right: 136px;
}

.form__comment-label {
  margin: 0;
  .form-title();
  display: block;
  margin-bottom: 37px;
}

.form__comment-text {
  .form-input-text();
  width: 100%;
  padding-top: 10px;
  outline: none;
  resize: none;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
}

.form__comment-text::placeholder {
  color: @primary-color-text;
  text-align: left;
}

.form__extra {
  padding-top: 25px;
  padding-bottom: 32px;
}

.form__extra-title {
  width: 141px;
  margin-right: 113px;
}

.form__extra-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 34px;
  display: grid;
  row-gap: 20px;
}

.form__extra-label {
  color: #000000;
  padding-left: 45px;
}

.form__extra-input {
  position: absolute;
  appearance: none;
  margin-left: -36px;
  margin-top: 8px;
}

.form__extra-check {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background-image: url("@{img-address}form-checkbox.svg");
  background-repeat: no-repeat;
  margin-top: -5px;
}

.form__extra-input:checked + .form__extra-check {
  background-image: url("@{img-address}form-checkbox-active.svg");
}

.form__extra-input:checked:hover + .form__extra-check {
  background-image: url("@{img-address}form-checkbox-active-hover.svg");
}

.form__extra-input:hover + .form__extra-check {
  background-image: url("@{img-address}form-checkbox-hover.svg");
}

.form__button-send {
  width: 100%;
  border: 0;
  outline: none;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @tertiary-color-text;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #68B738;
}

.form__info {
  margin: 0;
  margin-top: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: @secondary-color-text;
}

@media(min-width: @tablet) {
  .form__original {
    padding-top: 66px;
    border-bottom: none;
  }
  .form__options {
    margin-bottom: 72px;
    border-bottom: none;
  }
  .form__wrapper {
    .wrapper-tablet();
  }
  .form__caption {
    .h1-captions-tablet();
    padding-left: 40px;
  }
  .form__slogan {
    .form-text-tablet();
    padding: 0;
    padding-top: 54px;
    padding-left: 40px;
  }
  .form__title-wrapper {
    margin-bottom: 76px;
    &::before {
      background-color: transparent;
    }
    &::after {
      left: 0;
      top: 58%;
    }
  }
  .form__title {
    .form-title-tablet();
    padding-left: 39px;
  }
  .form__options-list {
    .form-margin-tablet();
  }
  .form__options-item {
    .form-item-tablet();
  }
  .form__options-item:not(:last-child) {
    margin-bottom: 20px;
   }
  .form__label {
    .form-text-tablet();
  }
  .form__input {
    .form-text-tablet();
  }
  .form__input-name {
    width: 567px;
    height: inherit;
  }
  .form__input-weight {
    width: 536px;
    height: inherit;
  }
  .form__input-age {
    width: 497px;
    height: inherit;
  }
  .form__tasks {
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    box-sizing: border-box;
  }
  .form__tasks-list {
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #E7E7E7;
  }
  .form__tasks-item {
    margin-left: 28px;
  }
  .form__tasks-item:not(:last-child) {
    margin-bottom: 18px;
}
  .form__tasks-label {
    .form-text-tablet();
    color: @fourth-color-text;
    padding-left: 56px;
  }
  .form__tasks-input {
    position: absolute;
    margin-top: 9px;
    margin-left: -41px;
    appearance: none;
  }
  .form__tasks-check {
    width: 41px;
    height: 41px;
    margin-top: -4px;
    background-image: url("@{img-address}form-radio-tablet.svg");
  }
  .form__tasks-input:checked + .form__tasks-check {
    background-image: url("@{img-address}form-radio-checked-tablet.svg");
  }
  .form__tasks-input:checked:hover + .form__tasks-check {
    margin-top: -4px;
    margin-left: 1px;
    background-image: url("@{img-address}form-radio-checked-hover-tablet.svg");
  }
  .form__tasks-input:hover + .form__tasks-check {
    margin-top: -4px;
    margin-left: 1px;
    background-image: url("@{img-address}form-radio-hover-tablet.svg");
  }
  .form__contacts {
    padding-top: 71px;
  }
  .form__contacts
  .form__contacts-list {
    .form-margin-tablet();
  }
  .form__contacts-title {
    width: 512px;
    position: relative;
    right: 30px;
  }
  .form__contacts-item {
    .form-item-tablet();
   }
   .form__contacts-item:not(:last-child) {
    margin-bottom: 20px;
   }
   .form__label {
    .form-text-tablet();
    color: @primary-color-text;
  }
  .form__input {
    .form-text-tablet();
  }
  .form__input-email {
    width: 551px;
    height: inherit;
  }
  .form__input-phone {
    width: 535px;
    height: inherit;
  }
  .form__comment-title {
    width: 182px;
    position: relative;
    right: 164px;
  }
  .form__comment-area {
    .form-margin-tablet();
  }
  .form__comment-text {
    height: 174px;
    .form-text-tablet();
    padding-left: 19px;
  }
  .form__comment-text::placeholder {
    .form-text-tablet();
    text-align: left;
  }
  .form__extra {
    padding-bottom: 72px;
  }
  .form__title-wrapper-extra {
    margin-bottom: 57px;
  }
  .form__extra-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 221px);
    column-gap: 123px;
    row-gap: 32px;
    padding-bottom: 54px;
    .form-margin-tablet();
  }
  .form__extra-title {
    margin: 0;
    width: 211px;
    position: relative;
    right: 215px;
  }
  .form__extra-label {
    .form-text-tablet();
    width: 221px;
    padding-left: 58px;
  }

  .form__extra-input {
    position: absolute;
    appearance: none;
    margin-left: -44px;
    margin-top: 9px;
  }

  .form__extra-check {
    width: 40px;
    height: 40px;
    background-image: url("@{img-address}form-checkbox-tablet.svg");
    background-repeat: no-repeat;
    margin-top: -5px;
  }

  .form__extra-input:checked + .form__extra-check {
    background-image: url("@{img-address}form-checkbox-active-tablet.svg");
  }

  .form__extra-input:checked:hover + .form__extra-check {
    background-image: url("@{img-address}form-checkbox-active-hover-tablet.svg");
  }

  .form__extra-input:hover + .form__extra-check {
    background-image: url("@{img-address}form-checkbox-hover-tablet.svg");
  }

  .form__button {
    display: flex;
    margin-left: 40px;
  }
  .form__button-send {
    width: 282px;
    font-size: 20px;
    margin-right: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: @button-bg-color;
  }
  .form__info {
    font-size: 16px;
    line-height: 16px;
  }
}

@media(min-width: @desktop) {
  .page-header__form {
    &::before {
      display: none;
    }
  }
  .nav-item__link-form{
    color: @secondary-color-text;
  }
  .nav-item__link--active-form {
    &::before {
      background-color: @nav-link-active;
    }
  }
  .form__wrapper {
    .wrapper-desktop();
  }
  .form__caption {
    padding-top: 74px;
    padding-left: 0;
  }
  .form__slogan {
    .form-text-desktop();
    padding-top: 56px;
    padding-left: 0;
  }
  .form__wrapper-original {
    display: grid;
    grid-template-columns: repeat(auto-fill, 569px);
    column-gap: 80px;
  }
  .form__options-list {
    width: 569px;
    padding-left: 0;
    .form-margin-desktop();
  }
  .form__input-name {
    width: 506px;
  }
  .form__input-weight {
    width: 475px;
  }
  .form__input-age {
    width: 436px;
  }
  .form__tasks-label {
    padding-left: 70px;
  }
  .form__tasks-list {
    .form-margin-desktop();
  }
  .form__tasks-item:not(:last-child) {
    margin-bottom: 24px;
}
  .form__wrapper-contacts {
    display: flex;
  }
  .form__contacts-title {
    padding-left: 0;
  }
  .form__contacts-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 569px);
    column-gap: 78px;
    .form-margin-desktop();
  }
  .form__label-email {
    width: 94px;
  }
  .form__label-phone {
    width: 110px;
  }
  .form__comment-area {
    .form-margin-desktop();
  }
  .form__extra-title {
    padding-left: 0;
  }
  .form__extra-list {
    .form-margin-desktop();
    column-gap: 104px;
  }
  .form__button {
    margin-left: 0;
  }
  .form__button-send {
    width: 568px;
    margin-right: 81px;
  }
}
