// out: "../style.css"

@import "../vars.less";
@import "../mixins.less";

.form__wrapper {
  .wrapper();
}

.form__slogan {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @secondary-color-text;
}
