// out: "../style.css"

@import "../vars.less";
@import "../mixins.less";

.instructions__wrapper {
  .wrapper;
}

.instructions__caption {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @secondary-color-text;
}

.instructions__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.instructions__item-text {
  margin: 0;
  .main-text;
}

.instructions__item img {
  display: block;
}
