// out: "../style.css"

@import "../vars.less";
@import "../mixins.less";

.map {
  text-align: center;
}

.map__wrapper {
  .wrapper;
}

.map__mobile-img {
  display: block;
  margin: 0 auto;
}

.map__tablet-img {
  display: none;
}

@media(min-width: @tablet) {
  .map__mobile-img {
    display: none;
  }
  .map__tablet-img {
    display: block;
    margin: 0 auto;
  }
}
