// out: "../style.css"

@import "../vars.less";
@import "../mixins.less";

.map {
  text-align: center;
}

.map__wrapper {
  .wrapper();
}

.map__mobile-img {
  display: block;
  margin: 0 auto;
}

@media(min-width: @tablet) {
  .map__wrapper {
    .wrapper-tablet();
  }
}

