// out: "../style.css"

@import "../vars.less";
@import "../mixins.less";

.page-footer {
  padding-top: 38px;
  background-color: @footer-bg-color;
}

.page-footer__wrapper {
  .wrapper();
}

.page-footer__logo {
  margin-right: auto;
  padding-bottom: 32px;
  border-bottom: 1px solid #D9D9D9;
}

.page-footer__logo-img {
  display: block;
  margin: 0 auto;
}

@media(min-width: @tablet) {
  .page-footer {
    padding-top: 43px;
    padding-bottom: 55px;
  }
  .page-footer__wrapper {
    .wrapper-tablet();
    display: flex;
    align-items: center;
  }
  .page-footer__logo {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

@media(min-width: @desktop) {
  .page-footer {
    padding-top: 43px;
    padding-bottom: 66px;
  }
  .page-footer__wrapper {
    .wrapper-desktop();
    display: flex;
    align-items: center;
  }
  .page-footer__logo {
    margin-bottom: 0;
  }
}
