// out: "../style.css"

@import "../vars.less";
@import "../mixins.less";

.promo {
  padding-top: 10px;
  padding-bottom: 20px;
}

.promo__wrapper {
  .wrapper();
}

.promo__text {
  width: 250px;
  margin: 0 auto;
  text-align: center;
}

.promo__caption {
  margin: 0;
  padding-bottom: 25px;
  position: relative;
  .h1-captions;
  color: @tertiary-color-text;
}

.promo__slogan {
  margin: 0;
  position: relative;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @tertiary-color-text;
}

.promo__poster {
  .wrapper();
}

.promo__poster-img {
  position: relative;
  top: 30px;
  padding-bottom: 30px;
}

.promo__poster-link {
  display: block;
  width: 100%;
  background-color: #68B738;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: @tertiary-color-text;
  padding-top: 7px;
  padding-bottom: 7px;
}

@media (min-width: @tablet) {
  .promo {
    padding-top: 0;
    padding-bottom: 0;
  }
  .promo__wrapper {
    .wrapper-tablet();
    display: flex;
    flex-direction: column;
  }
  .promo__text {
    width: 414px;
    margin-left: 86px;
    padding-top: 30px;
    text-align: left;
  }
  .promo__caption {
    .h1-captions-tablet();
    padding-bottom: 41px;
  }
  .promo__slogan {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: @secondary-color-text;
  }
  .promo__poster {
    margin: 0;
    order: 1;
    z-index: -1;
    margin-top: -110px;
  }
  .promo__poster-link {
    width: 244px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-left: 86px;
    margin-top: 49px;
  }
}

@media (min-width: @desktop) {
  .promo__wrapper {
    .wrapper-desktop();
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .promo__text {
    margin-left: 83px;
    margin-right: -50px;
    padding-top: 100px;
  }
  .promo__poster {
    z-index: 0;
    margin-top: 0px;
  }
  .promo__poster-link {
    left: 190px;
    top: 50%;
  }
}
