// out: "../style.css"

@import "vars.less";

.wrapper() {
  width: 28rem;
  margin: 0 auto;
}

.wrapper-tablet() {
  width: 70.8rem;
}

.wrapper-desktop() {
  width: 122rem;
}

.nav-link() {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: @secondary-color-text;
}

.nav-link-hover() {
  opacity: 0.6;
}

.nav-link-active() {
  opacity: 1;
}

.logo-header-img-hover() {
  opacity: 0.8;
}

.logo-header-img-active() {
  opacity: 0.6;
}

.h1-captions() {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.h1-captions-tablet() {
  font-family: 'Oswald', sans-serif;
  font-weight: 400px;
  font-size: 60px;
  line-height: 60px;
  color: @secondary-color-text;
}

.h2-captions() {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.main-text() {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @primary-color-text;
}

.main-text-tablet() {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: @primary-color-text;
}

.slogan() {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.slogan-tablet() {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.diet-link-tablet() {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-address() {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @primary-color-text;
}

.contacts-address-tablet() {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @primary-color-text;
}

.button-order() {
  display: block;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @tertiary-color-text;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #68B738;
}

.button-order-tablet() {
  width: 25rem;
  margin: 0 auto;
}

.additional-products-caption-tablet() {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.additional-products-title() {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-products-title-tablet() {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
}

.additional-products-text() {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: @primary-color-text;
}

.form-margin-tablet() {
  margin-right: 40px;
  margin-left: 40px;
}

.form-margin-desktop() {
  margin-right: 0;
  margin-left: 0;
}

.form-input-text() {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 16px;
  color: @primary-color-text;
}

.form-label-text() {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @primary-color-text;
}

.form-text-tablet() {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.form-text-desktop() {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.form-item() {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-item-tablet() {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-input() {
  border: 1px solid #E7E7E7;
  outline: none;
  box-sizing: border-box;
}

.form-input-hover() {
  border: 1px solid @input-hover;
}

.form-input-focus() {
  border: 2px solid @input-focus;
}

.form-title() {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @secondary-color-text;
}

.form-title-tablet() {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @secondary-color-text;
}

.catalog-margin-tablet() {
  margin-right: 30px;
  margin-left: 30px;
}

.catalog-margin-desktop() {
  margin-right: 110px;
  margin-left: 110px;
}

.catalog-item-title() {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-item-title-tablet() {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.catalog-item-description() {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @primary-color-text;
}

.catalog-item-description-tablet() {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: @primary-color-text;
}

.link-green-hover() {
  background-color: #5EAA2F;
}

.link-green-active() {
  color: rgba(255, 255, 255, 0.3);
}

