.button-order {
  display: block;
  width: 100%;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #68B738;
}
.additional-products-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.additional-products-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
.form-text {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
.form-inputs {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-input {
  border: 1px solid #E7E7E7;
  outline: none;
  box-sizing: border-box;
}
.form-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}
.page-footer {
  background-color: #F2F2F2;
}
.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;
}
.socials__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.academy-logo__name-link {
  text-decoration: none;
}
.academy-logo__name-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
.academy-logo__capital {
  text-transform: uppercase;
}
