// Начните писать стили здесь

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
      url('../fonts/Oswald-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-main__caption,
.program-main__caption {
  .h1-captions();
}

.form__wrapper {
  .wrapper();
}

.form__slogan {
  margin: 0;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__info-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@import "./blocks/page-header.less";
@import "./blocks/nav.less";
@import "./blocks/promo.less";
@import "./blocks/diet.less";
@import "./blocks/instructions.less";
@import "./blocks/example.less";
@import "./blocks/contacts.less";
@import "./blocks/map.less";
@import "./blocks/footer.less";
@import "./blocks/catalog.less";
@import "./blocks/show-products.less";
@import "./blocks/additional-products.less";
@import "./blocks/catalog-action.less";
@import "./blocks/form-options.less";
@import "./blocks/form-tasks.less";
@import "./blocks/form-contacts.less";
@import "./blocks/form-comment.less";
@import "./blocks/form-extra.less";



