.diet-link-tablet {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
.button-order {
  display: block;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #68B738;
}
.button-order-tablet {
  width: 248px;
  margin: 0 auto;
}
.additional-products-title {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.additional-products-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
.form-margin-tablet {
  margin-right: 40px;
  margin-left: 40px;
}
.form-margin-desktop {
  margin-right: 0;
  margin-left: 0;
}
.form-input-text {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 16px;
  color: #444444;
}
.form-label-text {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
.form-text-tablet {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
.form-text-desktop {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
.form-item {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-item-tablet {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-input {
  border: 1px solid #E7E7E7;
  outline: none;
  box-sizing: border-box;
}
.form-input-hover {
  border: 1px solid #CDCDCD;
}
.form-input-focus {
  border: 2px solid #444444;
}
.form-title {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
.form-title-tablet {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
.catalog {
  border-top: 1px solid #D9D9D9;
}
.catalog__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}
.catalog__item {
  border-bottom: 1px solid #D9D9D9;
  padding-top: 11px;
  padding-bottom: 25px;
}
.catalog__item-promo {
  width: 140px;
  text-align: center;
  margin-top: 10px;
}
.catalog__item-promo-img {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.catalog__item-description {
  width: 140px;
}
.catalog__item-title {
  width: 80px;
  margin: 0;
  padding-bottom: 18px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}
.catalog__options-list {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  display: flex;
  flex-direction: column;
}
.catalog__options-item {
  display: flex;
  justify-content: space-between;
}
.catalog__item-link {
  margin-top: 13px;
  display: block;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #68B738;
}
@media (min-width: 768px) {
  .catalog {
    border-top: none;
  }
  .catalog-main__caption {
    margin-right: 40px;
    margin-left: 40px;
  }
  .catalog__wrapper {
    width: 100%;
  }
  .catalog__list {
    margin-right: 40px;
    margin-left: 40px;
    grid-template-columns: repeat(auto-fill, 324px);
    column-gap: 38px;
  }
  .catalog__item-link {
    width: 248px;
    margin: 0 auto;
  }
  .catalog__item {
    border-bottom: none;
  }
}
@media (min-width: 1440px) {
  .page-header__catalog::before {
    display: none;
  }
  .nav-item__link-catalog {
    color: #000000;
  }
  .nav-item__link--active-catalog::before {
    background-color: #68B738;
  }
  .catalog__wrapper {
    width: 1220px;
  }
  .catalog__list {
    grid-template-columns: repeat(auto-fill, 245px);
    column-gap: 80px;
  }
  .catalog__item-link {
    width: 248px;
    margin: 0 auto;
  }
}
