.catalog {
  border-top: 1px solid #D9D9D9;
}
.catalog__wrapper {
  width: 28rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}
.catalog__item {
  border-bottom: 1px solid #D9D9D9;
  padding-top: 11px;
  padding-bottom: 25px;
}
.catalog__item-promo {
  width: 140px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.catalog__item-description {
  width: 14rem;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.catalog__item-title {
  width: 8rem;
  margin: 0;
  padding-bottom: 18px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}
.catalog__options-list {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.catalog__options-item {
  display: flex;
  justify-content: space-between;
}
.catalog__item-link {
  margin-top: 13px;
  display: block;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #68B738;
}
.catalog__item-link:hover {
  background-color: #5EAA2F;
}
.catalog__item-link:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .catalog {
    border-top: none;
  }
  .catalog-main__caption {
    width: 430px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-right: 30px;
    margin-left: 30px;
  }
  .catalog__wrapper {
    width: 25rem;
    justify-content: center;
  }
  .catalog__list {
    margin-right: 30px;
    margin-left: 30px;
    grid-template-columns: repeat(auto-fill, 32rem);
    column-gap: 6rem;
  }
  .catalog__item-link {
    width: 25rem;
    margin: 0 auto;
    margin-top: 34px;
  }
  .catalog__item {
    border-bottom: none;
    background-color: #f2f2f2;
    margin-top: 145px;
    padding-bottom: 28px;
  }
  .catalog__item-promo {
    margin-top: 9px;
  }
  .catalog__item-title {
    width: 158px;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
  }
  .catalog__item-description {
    width: 25rem;
    margin-top: 34px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #444444;
  }
  .catalog__options-item {
    height: 22px;
    border-bottom: 1px solid #CDCDCD;
    padding-top: 9px;
  }
}
@media (min-width: 1440px) {
  .page-header__catalog::before {
    display: none;
  }
  .nav-item__link-catalog {
    color: #000000;
  }
  .nav-item__link--active-catalog::before {
    background-color: #68B738;
  }
  .catalog-main__caption {
    margin-right: 110px;
    margin-left: 110px;
  }
  .catalog__wrapper {
    width: 180px;
    padding-bottom: 15px;
  }
  .catalog__list {
    grid-template-columns: repeat(auto-fill, 245px);
    column-gap: 80px;
    margin-right: 110px;
    margin-left: 110px;
  }
  .catalog__item-title {
    padding-bottom: 22px;
  }
  .catalog__item-description {
    width: 168px;
    margin-top: 46px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #444444;
  }
  .catalog__item-link {
    width: 168px;
    width: 25rem;
    margin: 0 auto;
    margin-top: 33px;
  }
  .catalog__options-item {
    height: 25px;
  }
}
